build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar targetPath (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.project
/build.gradle.siemens
/.gradle/
/.idea/
/**/*.iml
/build.gradle
/ee-email/out/production/classes/
/ee-email_des/out/production/classes/
/ee-email_excel/out/production/classes/
/ee-email_excel/.settings/
/ee-email_excel/.classpath
/ee-email_excel/.project
/ee-email_des/.settings/
/ee-email_des/.classpath
/ee-email_des/.project
/ee-email/.settings/
/ee-email/.classpath
/ee-email/.project
/.settings/
/.classpath
